<!DOCTYPE html>
<html>
    <head>
        <title>about page</title>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>
    <body>
        <h1>This is about page created by {{name}}</h1>
        <img src='/img/DSC02024.JPG'>
        <p>This is newly created {{title}}</p>
    </body>
</html>
