<!DOCTYPE html>
<html>
    <head>
        <title>help page</title>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>
    <body>
        <h1>This is help page created by {{name}}</h1>
        <p>This is newly created {{title}}</p>
    </body>
</html>
